{% extends "base.html" %}

{% load static wagtailcore_tags wagtailimages_tags %}

{% block body_class %}template-{{ self.get_verbose_name|slugify }}{% endblock %}

{% block content %}
    {% if self.title %}
        <h1>{{  self.title }}</h1>
    {% endif %}
    {% if self.image %}
        <div class="image-overlay">
            {% image self.image fill-750x383 as background_image %}
            <div class="post-image " style="background-image: url('{{ background_image.url }}') ">
            </div>
        </div>
    {% endif %}
    {{ self.body|richtext}}
{% endblock %}
