{% extends "base.html" %}

{% load static wagtailcore_tags wagtailimages_tags %}

{% block body_class %}template-{{ self.get_verbose_name|slugify }}{% endblock %}

{% block content %}
    {% if self.title %}
        <h1>{{ self.title }}</h1>
    {% endif %}

    {% for item in posts %}
        <section>
            <h2><a href="{% if item.button_link %} {{ item.button_link }} {% else %} {{ item.url }} {% endif %}">{{ item.title }}</a></h2>
            {% if item.image %}
                <a href="{% if item.button_link %} {{ item.button_link }} {% else %} {{ item.url }} {% endif %}">
                {% image item.image fill-750x383 %}
                </a>
            {% endif %}

            <div class="short-description">{{ item.short_description }}</div>
            <a class="btn btn-clear" href="{% if item.button_link %} {{ item.button_link }} {% else %} {{ item.url }} {% endif %}">
            {% if item.button_text %} {{ item.button_text }} {% else %} Read More {% endif %}</a>
        </section>

    {% endfor %}


    {% if posts.paginator.num_pages > 1 %}
        <ul class="pager">
            <li class="previous">
                {% if posts.has_previous %}
                    <a href="?page={{ posts.previous_page_number }}{% for key,value in request.GET.items %}{% ifnotequal key 'page' %}&amp;{{ key }}={{ value }}{% endifnotequal %}{% endfor %}">Previous</a>
                {% endif %}
            </li>
            <li class="pages">
                Page {{ posts.number }} of {{ posts.paginator.num_pages }}
            </li>
            <li class="next">
                {% if posts.has_next %}
                    <a href="?page={{ posts.next_page_number }}{% for key,value in request.GET.items %}{% ifnotequal key 'page' %}&amp;{{ key }}={{ value }}{% endifnotequal %}{% endfor %}">Next</a>
                {% endif %}
            </li>
        </ul>
    {% endif %}

{% endblock %}
