{% extends "base.html" %}

{% load wagtailcore_tags %}


{% block body_class %}template-{{ self.get_verbose_name|slugify }}{% endblock %}

{% block content %}
      {% for section in self.sections.all %}
      <section>
        {% if section.button_text %}<a href="{{ section.button_link }}"{% if section.button_external %} target="_blank"{% endif %}>{% endif %}
        <h2>{{ section.heading }}</h2>
        {% if section.button_text %}</a>{% endif %}

        {{ section.body|richtext }}

        {% if section.button_text %}
        <a href="{{ section.button_link }}"{% if section.button_external %} target="_blank"{% endif %} class="btn btn-clear">
          {{ section.button_text }}{% if section.button_external %} <i class="fa fa-external-link"></i>{% endif %}
        </a>
        {% endif %}

      </section>
      {% endfor %}
    <div class="text-center">
      <a href="#" class="btn btn-clear">Load More</a></div>
    </div>
{% endblock %}
