$sans-serif: "Source Sans Pro", Helvetica, sans-serif;
$blue: #002045;
$grey: #666666;
$black: #000000;
$white: #ffffff;

body {
  font-family: $sans-serif;
  font-weight: 300;
  font-size: 17px;
  background-color: #e5f2ff;
  color: $black;
}

a {
  color: $blue
}

a h2:hover, a:hover, a h2:focus, a:focus {
  color: $grey;
  text-decoration: none;
}

h1{
  text-transform: uppercase;
  color: $black;
  font-weight: bold;
  border-bottom: solid thin black;
  padding-bottom: 0.2em;
  margin-bottom: 0.8em;
}

h2 {
  color: $blue;
  font-weight: bold;
}

h1, .template-home-page h2{
  font-size: 30px;
}

.rich-text a{
  color: #009999;
}
.rich-text a:hover, .rich-text a:focus, .rich-text a:active{
  color: $black;
}

img{
  display: block;
  max-width: 100%;
  height: auto;
}

img.logo{
  width: 226px;
}

header {
  text-transform: uppercase;
  font-size: 18px;
}

.navbar{
  margin-bottom: 0;
}

.navbar-brand{
  height: auto;
  padding: 14px;
}

.navbar-brand > img{
  display: inline;
}

.navbar-default .navbar-nav.courses > li{
  margin-top: 11px;
}

.navbar-default .navbar-nav.courses > li > a{
  border-left: 1px solid $grey;
  padding: 10px 15px;
  color: #cccccc;
  font-weight: light;
}

.nav > li > a:hover,
.nav > li > a:focus {
  background: none;
  color: $grey;
}

.navbar-default .navbar-nav.courses > li > a:hover,
.navbar-default .navbar-nav.courses > li > a:focus{
  color: $grey;
}

.navbar-nav.navbar-right > li{
  margin-top: 16px;
}

.navbar-nav.navbar-right > li > a{
  padding: 5px 10px;
  margin-right: 15px;
  border: solid 1px $grey;
  border-radius: 4px;
  padding: 6px 12px;
  margin-right: 10px;
}

footer {
  text-transform: uppercase;
  margin-top: 2em;
  background-color: $blue;
  color: $white;
  padding-top: 2em;
  padding-bottom: 2em;

  img {
    margin: 1em 0.5em 1em 0;
    display: inline-block;
  }

  .courses {
    border-left: solid 1px $grey;
    padding-left: 0.8em;
    display:inline-block;
    a{
      color: #ccc;
    }
  }
}

#main{
  margin-top: 2em;
}

.btn{
  -webkit-transition: background-color 0.5s ease;
  -moz-transition: background-color 0.5s ease;
  -o-transition: background-color 0.5s ease;
  transition: background-color 0.5s ease;
  color: $grey;
  text-transform: uppercase;
  font-weight: 100;
  margin-top: 1em;
  margin-bottom: 2em;
}

.btn:hover,
.btn:focus{
  background-color: $blue;
  color: white;
}

.btn-clear {
  border: solid thin $grey;
}

.btn i {
  margin-left: 6px;
}

section {
  margin-bottom: 2em;
  border-bottom: solid thin $grey;
}

.image-overlay{
  -webkit-transition: background-color 0.5s ease;
  -moz-transition: background-color 0.5s ease;
  -o-transition: background-color 0.5s ease;
  transition: background-color 0.5s ease;
  background-color: #0099ff;
  min-height: 383px;
  position: relative;
  margin-bottom: 1em;

  .post-image{
    position: absolute;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
    height: 100%;
    transition: opacity 0.5s ease;
    opacity: 0.2;
  }
}

.image-overlay:hover{
  cursor: pointer;
  background-color:none;
  .post-image{
    opacity: 1;
  }
}

.meta-data{
  margin-bottom: 2em;
  font-weight: bold;
  font-size: 14px;
  color: #040404;
}

.jumbotron{
  padding: 0px;
}

.main-feature {
  min-height: 470px;
  position: relative;

  h1{
    margin-bottom: 0px;
    padding-bottom: 0px;
    border-bottom: 0px;
    a {
      color: $white;
      font-size: 60px;
    }
  }

  .btn {
    -webkit-transition: none;
    -moz-transition: none;
    -o-transition: none;
    transition: none;
    margin-top: 2em;
    border: solid 1px $white;
    color: $white;
  }
  .btn:hover,
  .btn:focus
  {
    background: none;
  }

  &.image-overlay {
    -webkit-transition: none;
    -moz-transition: none;
    -o-transition: none;
    transition: none;
  }
  &.image-overlay:hover{
    background-color: #0099ff;
    .post-image{
      opacity: 0.2;
    }
  }

  .feature-wrapper {
    z-index: 10;
    padding-top: 2em;
  }
}


/* Large Devices, Wide Screens */
@media only screen and (max-width : 1200px) {

}

/* Medium Devices, Desktops */
@media only screen and (max-width : 992px) {
}

/* Small Devices, Tablets */
@media only screen and (max-width : 768px) {
  #main{
    margin-top: 1em;
  }
  .main-feature{
    min-height: 400px;
    h1 a{
      font-size: 46px;
    }
  }
  .navbar-nav.navbar-right > li > a {
    border: none;
    border-radius: none;
  }
  .navbar-nav{
    margin: 0px 10px;
  }
  .navbar-default .navbar-nav.courses > li > a {
    border-left: 0px;
    color: $white;
  }
  .navbar-nav.navbar-right{
    padding-bottom: 15px;
  }
}

/* Extra Small Devices, Phones */
@media only screen and (max-width : 480px) {
  #main{
    margin-top: 0em;
  }
  .image-overlay{
    min-height: 200px;

  }
  .main-feature{
    min-height: 320px;
    h1 a{
      font-size: 32px;
    }
  }
  footer{
    padding-top: 0em;
    padding-bottom: 0em;
    img{
      max-width:55%;
    }
    .courses{
      font-size: 0.9em;
    }
  }
}

/* Custom, iPhone Retina */
@media only screen and (max-width : 360px) {
  header {
    margin-bottom: 0px;
    font-size: 15px;
  }
  footer{
    img{
      max-width:50%;
    }
    .courses{
      font-size: 0.7em;
    }
  }

}
